<div data-ng-controller="dashboardCtrl">
	<div class="row">
		<div class="col-xs-6">
			<div class="row mb25">
				<div class="col-xs-12">
					<div class="panel">
						<div class="panel-heading border">
							엔티티 현황
						</div>
						<div class="panel-body">
							<rickshaw class="rickshaw_graph" rickshaw-features="entitiesTrend.features" rickshaw-options="entitiesTrend.options" rickshaw-series="entitiesTrend.series"></rickshaw>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12">
					<div class="panel">
						<div class="panel-heading border">
							이벤트 현황
						</div>
						<div class="panel-body">
							<rickshaw class="rickshaw_graph" rickshaw-features="eventsTrend.features" rickshaw-options="eventsTrend.options" rickshaw-series="eventsTrend.series"></rickshaw>
 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="panel-heading border">
				인스턴스
			</div>
			<div class="panel-body">
				실행중인 인스턴스가 없습니다
			</div>
		</div>
	</div>
</div>
