<div data-ng-controller="entitiesDetailCtrl">
	
	<div class="row">
		<div class="col-xs-12">
			<h1>
				<a href="#/entities/">
					<i class="fa fa-angle-left" aria-hidden="true"></i>
				</a>
				<span>{{ entityData.nickname }} (#{{ entityId }})</span>
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4">
			<div class="panel">
				<div class="panel-heading border">
					이벤트 추이
				</div>
				<div class="panel-body">
					<rickshaw class="rickshaw_graph" rickshaw-features="features_trends" rickshaw-options="options_trends" rickshaw-series="series_trends"></rickshaw>
				</div>
			</div>
		</div>

		<div class="col-md-8">
			<div class="panel">
				<div class="panel-heading border">
					사진
				</div>
				<div class="panel-body">
					<div class="gallery">
						<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="image in entityData.images">
							<a ng-href="{{ image.source_link }}" data-gallery="">
								<img ng-src="{{ image.source_link }}" width="100%">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-md-3" ng-repeat="(roleid, role) in entityData.role_json">
			<div class="panel panel-warning">
				<div class="panel-heading border">
					<h5 class="mb0 mt0">ROLE:: {{ roleid }}</h5>
				</div>
				<div class="panel-body">
					<pre>
					<code>{{ role }}</code>
					</pre>
				</div>
			</div>
		</div>
	</div> -->

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="mb0 mt0">연관 키워드</h4>
				</div>
				<div class="panel-body">
					
					<table id="keyword-table" class="table display bordered table-striped table-condensed datatable">
                                                <thead>
                                                        <tr>
                                                                <th>키워드</th>
                                                                <th>가중치</th>
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                        <tr ng-repeat="tag in tags">
                                                                <td>{{ tag.tag }}</td>
                                                                <td>{{ tag.value }}</td>
                                                        </tr>
                                                </tbody>
                                        </table>
				</div>
			</div>
		</div>

		<div class="col-md-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="mb0 mt0">속한 이벤트</h4>
				</div>
				<div class="panel-body">
					<table id="event-table" class="table display bordered table-striped table-condensed datatable">
						<thead>
							<tr>
								<th>ID</th>
								<th>이벤트명</th>
								<th>날짜</th>
								<th>I.S.</th>
								<th>발행 날짜</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="event in entityData.events">
								<td>
									<a ng-href="#/events/{{ event.id }}">#{{ event.id }}</a>
								</td>
								<td>{{ event.title }}</td>
								<td>{{ event.date }}</td>
								<td>{{ event.issue_data.issue_score }}</td>
								<td>{{ event.published_time ? event.published_time : 'Not yet' }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
	<div id="blueimp-gallery" class="blueimp-gallery">
		<!-- The container for the modal slides -->
		<div class="slides"></div>
		<!-- Controls for the borderless lightbox -->
		<h3 class="title"></h3>
		<a class="prev">‹</a>
		<a class="next">›</a>
		<a class="close">×</a>
		<a class="play-pause"></a>
		<ol class="indicator"></ol>
		<!-- The modal dialog, which will be used to wrap the lightbox content -->
		<div class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" aria-hidden="true">&times;</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body next"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left prev">
							<i class="fa fa-chevron-left"></i> Previous
						</button>
						<button type="button" class="btn btn-primary next">
							Next
							<i class="fa fa-chevron-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
