<div data-ng-controller="entitiesCtrl">
	<div class="row mb25">
		<div class="col-xs-12">
			<div class="panel">
				<div class="panel-heading border">
					엔티티 현황
				</div>
				<div class="panel-body">
					<rickshaw class="rickshaw_graph" rickshaw-features="features_trends" rickshaw-options="options_trends" rickshaw-series="series_trends"></rickshaw>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="row">
		<div class="col-xs-12">
			<div class="panel">
				<div class="panel-heading border">
					X-Axis and Y-Axis
				</div>
				<div class="panel-body">
					<rickshaw class="rickshaw-chart rickshaw_graph" rickshaw-options="options2" rickshaw-features="features2" rickshaw-series="series2"></rickshaw>
					<div class="chart_container">
						<div class="y_axis" id="y_axis"></div>
						<div class="rickshaw-chart" id="chart2"></div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<div class="row">
		<div class="col-xs-12">
			<div class="panel">
				<div class="panel-heading border">
					엔티티 목록
				</div>
				<div class="panel-body">
					<table id="entities-table" class="table display bordered table-striped table-condensed datatable">
						<thead>
							<tr>
								<th>ID</th>
								<th>닉네임</th>
								<th>본명</th>
								<th>역할</th>
								<th>상태</th>
								<th>트렌드 스코어</th>
								<th>생성 날짜</th>
								<th>업데이트 날짜</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="entity in entities">
								<td>
									<a ng-href="#/entities/{{ entity.id }}">#{{ entity.id }}</a>
								</td>
								<td>{{ entity.nickname }}</td>
								<td>{{ entity.realname }}</td>
								<td>
									<span ng-repeat="(roleid, role) in entity.role_json">{{ roleid }}&nbsp;</span>
								</td>
								<td>{{ entity.status }}</td>
								<td>{{ entity.trend_score }}({{ entity.trend_score_delta }})</td>
								<td>{{ entity.created_time ? entity.created_time : 'Not yet' }}</td>
								<td>{{ entity.updated_time ? entity.updated_time : 'Not yet' }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
