<div data-ng-controller="jobsCtrl">
	<div class="row mb25">
		<div class="col-xs-12">
			<div class="panel">
				<div class="panel-heading border">
					작업 실행 상태
				</div>
				<div class="panel-body">
					<div class="row ng-scope"> 
						<div class="col-sm-8 col-md-4"> 
							<div class="widget bg-white"> 
								<div class="widget-icon bg-blue pull-left fa fa-spinner">
								</div> 
								<div class="overflow-hidden"> 
									<span class="widget-title">{{ jobcount["WAITING"] }} </span> 
									<span class="widget-subtitle"> 대기중</span> 
								</div> 
							</div>
						</div> 
						<div class="col-sm-8 col-md-4"> 
							<div class="widget bg-white"> 
								<div class="widget-icon bg-blue pull-left fa fa-play">
								</div> 
								<div class="overflow-hidden"> 
									<span class="widget-title">{{ jobcount["RUNNING"] }} </span> 
									<span class="widget-subtitle">실행중</span> 
								</div> 
							</div>
						</div> 


						<div class="col-sm-8 col-md-4"> 
							<div class="widget bg-white"> 
								<div class="widget-icon bg-blue pull-left fa fa-circle-o-notch">
								</div> 
								<div class="overflow-hidden"> 
									<span class="widget-title">{{ jobutilization }} </span> 
									<span class="widget-subtitle">사용률</span> 
								</div> 
							</div>
						</div> 
					</div>
				</div>
			</div>
			<div class="panel">
				<div class="panel-heading border">
					작업 실행 서버
				</div>
				<div class="panel-body">
					<table id="jobserver-table" class="table display bordered table-striped table-condensed datatable" >
						<thead>
							<tr>
								<th>ID</th>
								<th>이름</th>
								<th>호스트</th>
								<th>포트</th>
								<th>상태</th>
								<th>실행중 작업 개수</th>
								<th>최대 작업 개수</th>
								<th>유저 명</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="jobserver in jobservers">
								<td>{{ jobserver.id }}</td>
								<td>{{ jobserver.alias }}</td>
								<td>{{ jobserver.host_name }}</td>
								<td>{{ jobserver.port }}</td>
								<td>{{ jobserver.status }}</td>
								<td>{{ jobserver.current_job_count }}</td>
								<td>{{ jobserver.max_job_count }}</td>
								<td>{{ jobserver.username }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="panel">
				<div class="panel-heading border">
					실행중인 작업
				</div>
				<div class="panel-body">
					<table id="job-table" class="table display bordered table-striped table-condensed datatable" >
						<thead>
							<tr>
								<th>ID</th>
								<th>타입</th>
								<th>파라메터</th>
								<th>순서</th>
								<th>시작시간</th>
								<th>상태</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="job in jobs">
								<td><a ng-href="#/jobs/{{ job.id }}">#{{ job.id }}</a></td>
								<td>{{ job.type }}</td>
								<td>{{ job.parameter }}</td>
								<td>{{ job.order_index }}</td>
								<td>{{ job.start_time }}</td>
								<td>{{ job.status }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="panel">
				<div class="panel-heading border">
					작업 히스토리
				</div>
				<div class="panel-body">
					<table id="jobhistory-table" class="table display bordered table-striped table-condensed datatable" >
						<thead>
							<tr>
								<th>ID</th>
								<th>타입</th>
								<th>파라메터</th>
								<th>순서</th>
								<th>시작시간</th>
								<th>종료시간</th>
								<th>상태</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
